:root {
    --container-background: #ECFDF5;
    --green: #10B981;
    --title-text: #2B283A;
    --password-green: #5DEF92;
    --background-blue: #273549;
  }
  * {
    margin: 0;
    
}

html {
    line-height: 1;
    
}

body {
    background-color: var(--background-blue);
    padding:0;
  }
  main {
    /* sizing and spacing */
    width: 90vw;
    max-width: 550px;
    margin: 15px auto;
    
    padding:52px;
    border-radius: 5px;
     
  
    /* content layout */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 35px;
  
    position: relative;
  
    /* styling */
    background-color: var(--container-background);
  
    /* text style */
    font-family: 'Inter', sans-serif;
  }
  h1 {
    /* text style */
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 37px;
    line-height: 50px;
    letter-spacing: -.01em;
    color: var(--title-text);
  
    /* sizing and spacing */
    max-width: 354px;
  }
  
h1 span {
    color: var(--green);
  }
input[type="checkbox"]{
    /* sizing and spacing */
    height: 20px;
    width: 20px;
  
    /* styling */
    cursor: pointer;
    
  }
  
  input[type="checkbox"]:focus {
    outline: none;
  }
  
  input[type="number"]{
    height: 20px;
    width: 30px;
  }
  input[type="number"]:focus {
    outline: none;
  }

button {
    /* sizing and spacing */
    height: 52px;
    margin: 10px;
    justify-content: center;
  
    /* styling */
    border: none;
    border-radius: 6px;
    background-color: var(--green);
    cursor: pointer;
  
    /* text style */
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #FFF;
    display: inline-block;
  }
  
  button:focus {
      outline: none;
  }
  
.password-field button{
    display: flex;
    width: 255px;
    padding-top: 15px;
    float:left;
    justify-content: center;

    
    
    
}